.app {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.square {
  width: 200px;
  height: 110px;
  background-color: #f3a7a7; /* Red color, replace with your desired color */
  box-shadow: 5px 5px 10px 1px #3e3e3e;
  border-radius: 10px;
  margin-top: 25px; /* Optional: Add margin between children */
}